In [1]:
import sys
sys.path.append("/home/deren/Documents/shadie")

In [2]:
import shadie
import shadie.genomic_elements

ModuleNotFoundError: No module named 'mutations'

In [ ]:
import pandas as pd

In [7]:
df = pd.DataFrame(
    columns=['etype', 'start', 'end', 'element'],
    index=range(20),
    dtype=(str, int),
)

df.loc[0] = shadie.genomic_elements.NonCoding(0, 100, [shadie.mutations.Neutral(0.5, 0.0)], [1.0])
df

,etype,start,end,element
0,"(g101, c(m98), c(1.0))","(g101, c(m98), c(1.0))","(g101, c(m98), c(1.0))","(g101, c(m98), c(1.0))"
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN

In [15]:
with initialize():
    Model("nonWF")
    Neutral("m1", 0.5, "f", 0.0)